
.error{    
    width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: rgba(190, 186, 185, 0.158);
}
#no-result{
    display: none;
   
}
.empty-error{
    
    color: rgb(252, 55, 21);
    padding: 5px;
    display: none;
}
#spinner{
    display: none;
}
/* .spiner{
    display: none !important;
} */